@font-face{
    font-family: CaviarDreams;
    src:url(Fuentes/CaviarDreams.ttf) format(truetype);
    font-weight: lighter;
    font-style: normal;
}

body {
    font-family: CaviarDreams;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    font-family: CaviarDreams;
}

p {
    color: #666;
}
