@font-face{
    font-family: 'CaviarDreams';
    src:url(/Fuentes/CaviarDreams.ttf);
    font-weight: lighter;
    font-style: normal;
}

body {
    font-family: calc(CaviarDreams);
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    font-family:calc(CaviarDreams);
}

p {
    color: #666;
}
