@font-face{
    font-family: CaviarDreams;
    src:url(Fuentes/CaviarDreams.ttf) format(truetype);
    font-weight: lighter;
    font-style: normal;}

    *{
        font-family: CaviarDreams;
        color: aliceblue;
    }
    
    body{
        margin: 0;
        padding: 0;
    }
    
    header{
        background-color: darkgreen;
        color: aliceblue;
        padding: 10px;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
    }
    
    h1 {
        font-size: 95px;
        margin: 0;
        vertical-align: middle;
        display: inline-block;
    }

    nav{
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        right: 0;
        top: 25px
    }
    
    nav ul {
        list-style-type: none;
        margin-right: 50px;
        padding: 0;
        font-size: 30px;
    }
    
    nav ul li {
        display: inline;
        margin-right: 20px;
    }
    
    nav ul li a {
        text-decoration: none; 
        color: aliceblue; 
        transition: 0.3s;
    }
    
    nav ul li a:hover {
        background-color: green;
        border-radius: 5px;
    }

    .instrucciones {
        display: flex;
        justify-content: space-around;
        background-color: darkgreen;
        color: darkgreen;
        padding: 20px 0;
        text-align: center;
        margin-top: 40px;
    }
    
    .instrucciones .paso {
        flex: 1;
        font-size: 30px;
    }
    
    .instrucciones .paso h2 {
        font-size: 100px;
    }
    
    .formulario {
        padding: 20px;
        background-color: aliceblue;
        text-align: center;
    }
    
    .formulario form {
        max-width: 800px;
        margin: 0 auto;
    }
    
    .campo {
        margin-bottom: 20px;
    }
    
    .campo label {
        display: block;
        margin-bottom: 5px;
        font-size: 25px;
        color: darkgreen;
    }
    
    .campo input,
    .campo textarea {
        width: calc(100% - 22px);
        padding: 10px;
        border: 2px solid darkgreen;
        border-radius: 5px;
        color: black;
        font-weight: bold;
    }
    
    .campo textarea {
        height: 100px;
    }
    
    .campo button {
        background-color: darkgreen;
        color: aliceblue;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 1.2em;
        cursor: pointer;
    }
    
    .campo button:hover {
        background-color: green;
    }

    footer{
        background-color: darkgreen;
        padding: 20px 0;
        bottom: 0;
        width: 100%;
    }
    
    .grupo-flexbox{
        max-width: 100%;
        margin-left: 200px;
        margin-right: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .grupof{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 40px;
    }
    
    .grupof a{
        color: aliceblue;
        text-decoration: none;
    }